.trinta-card {
    &.sales-overview-card {
        .mat-mdc-card-header {
            .mat-mdc-card-subtitle {
                .trending {
                    letter-spacing: 1px;
                    padding-left: 35px;

                    i {
                        left: 0;
                        top: 50%;
                        color: #00b69b;
                        margin-top: -1.5px;
                        position: absolute;
                        transform: translateY(-50%);
                    }
                    span {
                        color: #00b69b;
                    }
                    &.down {
                        i {
                            color: var(--dangerColor);
                        }
                        span {
                            color: var(--dangerColor);
                        }
                    }
                }
            }
        }
    }
}
::ng-deep {
    .trinta-card {
        &.sales-overview-card {
            .mat-mdc-card-header {
                .mat-mdc-card-header-text {
                    display: block;
                }
                .mat-mdc-card-subtitle {
                    margin-top: 20px;
                }
            }
            .mat-mdc-card-content {
                .mat-mdc-tab-group {
                    display: block;
    
                    .mat-mdc-tab-header {
                        display: block;

                        .mat-mdc-tab-label-container {
                            display: block;
                            border: 0;

                            .mat-mdc-tab-labels {
                                background-color: #f7faff;
                            }
                            .mat-mdc-tab {
                                flex-grow: 1;
                                min-width: auto;
                                color: var(--blackColor);
                                transition: var(--transition);
                                padding: {
                                    top: 18px;
                                    left: 15px;
                                    right: 15px;
                                    bottom: 18px;
                                };
                                .mdc-tab__text-label {
                                    color: var(--blackColor);
                                    transition: var(--transition);
                                    font: {
                                        weight: 500;
                                        size: var(--fontSize);
                                    };
                                }
                                &.mdc-tab--active {
                                    background-color: var(--dangerColor);

                                    .mdc-tab__text-label {
                                        color: var(--whiteColor);
                                    }
                                }
                                .mdc-tab-indicator {
                                    display: none;
                                }
                                &:not(.mdc-tab--stacked) {
                                    height: auto;
                                }
                            }
                        }
                        .mat-mdc-tab-header-pagination {
                            display: none;
                        }
                    }
                    .mat-mdc-tab-body-wrapper {
                        display: block;
                        margin-top: 8px;

                        .mat-mdc-tab-body {
                            overflow: hidden;

                            .mat-mdc-tab-body-content {
                                height: auto;
                                overflow: hidden;

                                .item {
                                    border-bottom: 1px solid #edeff5;
                                    padding-bottom: 22px;
                                    margin-top: 22px;

                                    .image {
                                        width: 57px;
                                        height: 60px;
                                        border-radius: 50%;
                                        border: 1px solid var(--infoColor);

                                        img {
                                            left: 0;
                                            top: 50%;
                                            right: 0;
                                            border-radius: 50%;
                                            position: absolute;
                                            transform: translateY(-50%);
                                            margin: {
                                                left: auto;
                                                right: auto;
                                            };
                                        }
                                    }
                                    .info {
                                        margin: {
                                            left: 13px;
                                            bottom: 0;
                                            top: 0;
                                        };
                                        a {
                                            margin-bottom: 8px;
                                            font: {
                                                size: 15px;
                                                family: var(--headingFontFamily);
                                            };
                                        }
                                        span {
                                            font-size: 13px;
                                        }
                                    }
                                    .number {
                                        font-size: 15px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .trinta-card {
        &.sales-overview-card {
            .mat-mdc-card-header {
                .mat-mdc-card-subtitle {
                    .trending {
                        letter-spacing: 0.15px;
                        padding-left: 30px;
                    }
                }
            }
        }
    }
    ::ng-deep {
        .trinta-card {
            &.sales-overview-card {
                .mat-mdc-card-header {
                    .mat-mdc-card-header-text {
                        display: flex;
                    }
                    .mat-mdc-card-subtitle {
                        margin-top: 0;
                    }
                }
                .mat-mdc-card-content {
                    .mat-mdc-tab-group {
                        .mat-mdc-tab-header {
                            .mat-mdc-tab-label-container {
                                .mat-mdc-tab-labels {
                                    display: block;
                                }
                                .mat-mdc-tab {
                                    display: inline-block;
                                    padding: 13px 20px;
                                    
                                    .mdc-tab__text-label {
                                        font-size: 13px;
                                    }
                                }
                            }
                        }
                        .mat-mdc-tab-body-wrapper {
                            margin-top: 0;
    
                            .mat-mdc-tab-body {
                                .mat-mdc-tab-body-content {
                                    .item {
                                        padding-bottom: 14px;
                                        margin-top: 14px;
    
                                        .info {
                                            margin: {
                                                top: 0;
                                                bottom: 0;
                                                left: 12px;
                                            };
                                            a {
                                                margin-bottom: 7px;
                                                font-size: 13px;
                                            }
                                        }
                                        .number {
                                            font-size: 13px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {

    ::ng-deep {
        .trinta-card {
            &.sales-overview-card {
                .mat-mdc-card-content {
                    .mat-mdc-tab-group {
                        .mat-mdc-tab-header {
                            .mat-mdc-tab-label-container {
                                .mat-mdc-tab-labels {
                                    display: flex;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    ::ng-deep {
        .trinta-card {
            &.sales-overview-card {
                .mat-mdc-card-header {
                    .mat-mdc-card-header-text {
                        display: flex;
                    }
                    .mat-mdc-card-subtitle {
                        margin-top: 0;
                    }
                }
                .mat-mdc-card-content {
                    .mat-mdc-tab-group {
                        .mat-mdc-tab-header {
                            .mat-mdc-tab-label-container {
                                .mat-mdc-tab {
                                    padding: {
                                        top: 17px;
                                        bottom: 17px;
                                    };
                                }
                            }
                        }
                        .mat-mdc-tab-body-wrapper {
                            margin-top: 0;
    
                            .mat-mdc-tab-body {
                                .mat-mdc-tab-body-content {
                                    .item {
                                        padding-bottom: 17px;
                                        margin-top: 17px;
    
                                        .info {
                                            margin: {
                                                left: 15px;
                                                bottom: 0;
                                                top: 0;
                                            };
                                            a {
                                                font-size: 14px;
                                            }
                                        }
                                        .number {
                                            font-size: 14px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    ::ng-deep {
        .trinta-card {
            &.sales-overview-card {
                .mat-mdc-card-header {
                    .mat-mdc-card-header-text {
                        display: flex;
                    }
                    .mat-mdc-card-subtitle {
                        margin-top: 0;
                    }
                }
                .mat-mdc-card-content {
                    .mat-mdc-tab-group {
                        .mat-mdc-tab-body-wrapper {
                            margin-top: 0;
    
                            .mat-mdc-tab-body {
                                .mat-mdc-tab-body-content {
                                    .item {
                                        padding-bottom: 20px;
                                        margin-top: 20px;
    
                                        .info {
                                            margin: {
                                                top: 0;
                                                bottom: 0;
                                                left: 15px;
                                            };
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    ::ng-deep {
        .trinta-card {
            &.sales-overview-card {
                .mat-mdc-card-header {
                    .mat-mdc-card-header-text {
                        display: flex;
                    }
                    .mat-mdc-card-subtitle {
                        margin-top: 0;
                    }
                }
                .mat-mdc-card-content {
                    .mat-mdc-tab-group {
                        .mat-mdc-tab-body-wrapper {
                            margin-top: 0;
    
                            .mat-mdc-tab-body {
                                .mat-mdc-tab-body-content {
                                    .item {
                                        padding-bottom: 18px;
                                        margin-top: 18px;
    
                                        .info {
                                            margin: {
                                                top: 0;
                                                bottom: 0;
                                                left: 15px;
                                            };
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {

    ::ng-deep {
        .trinta-card {
            &.sales-overview-card {
                .mat-mdc-card-header {
                    .mat-mdc-card-header-text {
                        display: flex;
                    }
                    .mat-mdc-card-subtitle {
                        margin-top: 0;
                    }
                }
                .mat-mdc-card-content {
                    .mat-mdc-tab-group {
                        .mat-mdc-tab-header {
                            .mat-mdc-tab-label-container {
                                .mat-mdc-tab {
                                    padding: {
                                        top: 16.5px;
                                        bottom: 16.5px;
                                    };
                                }
                            }
                        }
                        .mat-mdc-tab-body-wrapper {
                            margin-top: 8px;
    
                            .mat-mdc-tab-body {
                                .mat-mdc-tab-body-content {
                                    .item {
                                        padding-bottom: 21px;
                                        margin-top: 21px;
    
                                        .image {
                                            width: 52px;
                                            height: 55px;
                                        }
                                        .info {
                                            margin: {
                                                left: 13px;
                                                bottom: 0;
                                                top: 0;
                                            };
                                            a {
                                                margin-bottom: 6px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}