.forgot-password-area {
    height: 100vh;
    overflow-x: hidden;
    padding: {
        top: 30px;
        bottom: 30px;
        left: 12.5px;
        right: 12.5px;
    };
    .trinta-form {
        max-width: 520px;
        padding: 35px 30px;

        .title {
            margin-bottom: 25px;

            h3 {
                font-size: 18px;
                margin-bottom: 14px;
                letter-spacing: 0.18px;
            }
            p {
                a {
                    letter-spacing: 0.16px;
                }
            }
        }
    }
}
::ng-deep {
    .forgot-password-area {
        .trinta-form {
            form {
                .form-group {
                    margin-bottom: 20px;

                    .label {
                        margin-bottom: 10px;
                    }
                    .mat-mdc-form-field {
                        display: block;
            
                        .mat-mdc-form-field-focus-overlay {
                            display: none;
                        }
                    }
                    .mdc-text-field--filled {
                        &:not(.mdc-text-field--disabled) {
                            background-color: #f5f7fa;
                        }
                    }
                    .mdc-text-field--focused {
                        &:not(.mdc-text-field--disabled) {
                            .mdc-floating-label {
                                color: var(--primaryColor) !important;
                            }
                        }
                    }
                    .mat-mdc-text-field-wrapper {
                        border-radius: 10px;
                        padding: 0 15px 0 60px;
                        border: 1px solid #f5f7fa;
                    }
                    .mat-mdc-icon-button {
                        &.mat-mdc-button-base {
                            padding: 12px 0 12px 0;
                            margin-right: -15px;
                        }
                    }
                    .mdc-line-ripple {
                        display: none;
                    }
                    .mdc-text-field {
                        &:not(.mdc-text-field--disabled) {
                            .mdc-floating-label {
                                color: #a9a9c8;
                            }
                        }
                    }
                    i-feather {
                        top: 15.5px;
                        left: -40px;
                        width: 25px;
                        line-height: 1;
                        position: absolute;
                        color: var(--blackColor);
                    }
                    .mat-mdc-form-field-bottom-align {
                        &::before {
                            display: none;
                        }
                    }
                }
                .mat-mdc-button {
                    width: 100%;
                    height: auto;
                    display: block;
                    min-width: auto;
                    border-radius: 6px;
                    padding: 18px 25px;
                    color: var(--whiteColor);
                    background-color: var(--primaryColor);
                    font: {
                        size: 16px;
                        weight: 500;
                        family: var(--headingFontFamily);
                    };
                    margin: {
                        top: 25px;
                        bottom: 20px;
                    };
                    &[disabled] {
                        background-color: #eff3f9;
                    }
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .forgot-password-area {
        .trinta-form {
            max-width: 100%;
            padding: 30px 20px;
        
            .title {
                margin-bottom: 15px;
                
                h3 {
                    font-size: 17px;
                    margin-bottom: 10px;
                }
            }
        }
    }
    ::ng-deep {
        .forgot-password-area {
            .trinta-form {
                form {
                    .form-group {
                        margin-bottom: 18px;
        
                        .mat-mdc-form-field-infix {
                            width: 100%;
                        }
                        i-feather {
                            left: -35px;
                            width: 23px;
                        }
                        .mat-mdc-text-field-wrapper {
                            padding: 0 15px 0 52px;
                        }
                    }
                    .mat-mdc-button {
                        padding: 15px 25px;
                        font-size: 13px;
                        margin: {
                            top: 20px;
                            bottom: 15px;
                        };
                    }
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {
    
    .forgot-password-area {
        .trinta-form {
            max-width: 540px;
        }
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}