<div class="forgot-password-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div
                class="trinta-form ml-auto mr-auto bg-white border-radius"
            >
                <div class="title text-center">
                    <h3>
                        Forgot Password!
                    </h3>
                    <p class="text-black fs-15">
                        Enter the email address you used when you joined and we'll send you instructions to reset your password.
                    </p>
                </div>
                <form>
                    <div class="form-group">
                        <label class="label d-block fw-medium">
                            Email Address
                        </label>
                        <mat-form-field>
                            <i-feather name="mail"></i-feather>
                            <mat-label>Enter email address</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                    <button mat-button type="submit">
                        Send
                    </button>
                    <div class="text-center">
                        <a routerLink="/authentication" class="text-primary">
                            Back To Sign In
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>