.trinta-card {
    &.faq-card {
        .search-box {
            input {
                height: 64px;
                font-size: 15px;
                border-radius: 6px;
                background: #f5f7fa;
                padding: {
                    left: 20px;
                    right: 20px;
                };
                &::placeholder {
                    transition: var(--transition);
                }
                &:focus {
                    &::placeholder {
                        color: transparent;
                    }
                }
            }
            button {
                top: 50%;
                right: 5px;
                width: 54px;
                height: 54px;
                font-size: 22px;
                border-radius: 6px;
                position: absolute;
                color: var(--whiteColor);
                transform: translateY(-50%);
                transition: var(--transition);
                background-color: var(--primaryColor);

                &:hover {
                    background-color: var(--darkColor);
                }
            }
        }
    }
}
::ng-deep {
    .trinta-card {
        &.faq-card {
            .mat-accordion {
                margin-top: 30px;
                display: block;

                .mat-expansion-panel {
                    border-radius: 0;
                    margin: 0 0 25px;
                    box-shadow: unset;
                    color: var(--darkColor);
                    background-color: transparent;

                    .mat-expansion-panel-header {
                        background-color: transparent;
                        color: var(--darkColor);
                        display: flex;
                        height: auto;
                        padding: 0;

                        .mat-content {
                            display: block;
                        }
                        .mat-expansion-panel-header-title {
                            display: block;
                            margin-right: 0;
                            color: var(--darkColor);
                            font: {
                                size: 15px;
                                weight: 600;
                                family: var(--headingFontFamily);
                            };
                        }
                        .mat-expansion-indicator {
                            display: none;
                        }
                        &::before {
                            width: 36px;
                            height: 36px;
                            display: flex;
                            content: "\ea13";
                            margin-right: 15px;
                            position: relative;
                            border-radius: 50%;
                            align-items: center;
                            justify-content: center;
                            color: var(--primaryColor);
                            background: rgba(55, 97, 238, 0.10);
                            font: {
                                size: 20px;
                                family: remixicon;
                            };
                        }
                    }
                    .mat-expansion-panel-content {
                        display: block;

                        .mat-expansion-panel-body {
                            padding: 8px 0 0 51px;

                            p {
                                font-size: 16px;
                            }
                        }
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .trinta-card {
        &.faq-card {
            .search-box {
                input {
                    height: 50px;
                    font-size: 13px;
                    padding: {
                        left: 15px;
                        right: 15px;
                    };
                }
                button {
                    right: 5px;
                    width: 40px;
                    height: 40px;
                    font-size: 18px;
                }
            }
        }
    }
    ::ng-deep {
        .trinta-card {
            &.faq-card {
                .mat-accordion {
                    margin-top: 20px;
    
                    .mat-expansion-panel {
                        margin: 0 0 20px;
    
                        .mat-expansion-panel-header {
                            .mat-expansion-panel-header-title {
                                font-size: 14px;
                            }
                            &::before {
                                width: 30px;
                                height: 30px;
                                font-size: 18px;
                                margin-right: 12px;
                            }
                        }
                        .mat-expansion-panel-content {
                            .mat-expansion-panel-body {
                                padding: 8px 0 0 42px;
    
                                p {
                                    font-size: 13px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .trinta-card {
        &.faq-card {
            .search-box {
                input {
                    height: 55px;
                    font-size: 14px;
                    padding: {
                        left: 15px;
                        right: 15px;
                    };
                }
                button {
                    width: 46px;
                    height: 46px;
                    font-size: 20px;
                }
            }
        }
    }
    ::ng-deep {
        .trinta-card {
            &.faq-card {
                .mat-accordion {
                    margin-top: 20px;
    
                    .mat-expansion-panel {
                        margin: 0 0 20px;
    
                        .mat-expansion-panel-content {
                            .mat-expansion-panel-body {
                                p {
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .trinta-card {
        &.faq-card {
            .search-box {
                input {
                    height: 60px;
                }
                button {
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }
    ::ng-deep {
        .trinta-card {
            &.faq-card {
                .mat-accordion {
                    .mat-expansion-panel {
                        .mat-expansion-panel-content {
                            .mat-expansion-panel-body {
                                p {
                                    font-size: 15px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}