.in-progress-projects-table {
    .mat-mdc-table {
        width: 100%;
        overflow: hidden;
        background-color: transparent;

        .mat-mdc-header-row {
            height: auto;
            line-height: initial;
            letter-spacing: 0.14px;
            color: var(--darkColor);
            background: transparent;
            font: {
                weight: 500;
                size: var(--fontSize);
                family: var(--fontFamily);
            };
            .mat-mdc-header-cell {
                border: none;
                overflow: unset;
                text-align: start;
                white-space: nowrap;
                line-height: initial;
                padding: 0 15px 20px;
                letter-spacing: normal;
                background: transparent;
                border-bottom: 2px solid #edeff5;
            }
        }
        .mat-mdc-row, .mdc-data-table__content {
            line-height: initial;
            background: transparent;
            font: {
                weight: normal;
                size: var(--fontSize);
                family: var(--fontFamily);
            };
        }
        .mat-mdc-row {
            height: auto;
            color: var(--blackColor);
        }
        .mat-mdc-cell {
            border: none;
            overflow: hidden;
            text-align: start;
            padding: 20px 15px;
            white-space: nowrap;
            line-height: initial;
            letter-spacing: 0.14px;
            background: transparent;
            border-bottom: 1px solid #edeff5;

            .project-info {
                .info {
                    margin-left: 15px;
                    
                    h6 {
                        margin-bottom: 10px;
                        font-size: 15px;
                    }
                }
            }
            mat-progress-bar {
                --mdc-linear-progress-active-indicator-height: 5px;
                --mdc-linear-progress-track-height: 5px;
                margin-top: 4px;
                width: 135px;
            }
            .members {
                img {
                    width: 27px;
                    height: 27px;
                    margin-right: -7px;
                    border: 2px solid var(--whiteColor);

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
            .trinta-badge {
                font-size: 12px;
                border-radius: 2px;
                padding: 1.5px 7px;
                letter-spacing: 1px;
                color: var(--primaryColor);
                background: rgba(55, 97, 238, 0.10);

                &.pending {
                    color: var(--dangerColor);
                    background: rgba(238, 54, 140, 0.10);
                }
                &.completed {
                    color: #00b69b;
                    background: rgba(0, 182, 155, 0.10);
                }
            }
            .action {
                .mat-mdc-button {
                    font-size: 18px;
                    color: #818093;
                    margin-right: 12px;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
    .mat-mdc-paginator {
        padding-top: 15px;
    }
}
::ng-deep {
    .in-progress-projects-table {
        .mat-mdc-table {
            .mat-mdc-cell {
                .mdc-checkbox {
                    padding: 0;
                    margin: 0;

                    .mdc-checkbox__native-control {
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        width: 100%;
                        height: 100%;
                    }
                    .mdc-checkbox__background {
                        top: 0;
                        left: 0;
                        border-radius: 5px;
                    }
                    .mat-mdc-checkbox-ripple, .mdc-checkbox__ripple {
                        border-radius: 5px;
                    }
                    .mat-mdc-checkbox-touch-target {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .in-progress-projects-table {
        .mat-mdc-table {
            .mat-mdc-header-row {
                font-size: 13px;

                .mat-mdc-header-cell {
                    padding: 0 15px 15px;
                }
            }
            .mat-mdc-row, .mdc-data-table__content {
                font-size: 13px;
            }
            .mat-mdc-cell {
                padding: 15px;

                .project-info {
                    .info {
                        margin-left: 12px;
                        
                        h6 {
                            font-size: 13px;
                        }
                    }
                }
                mat-progress-bar {
                    width: 100px;
                }
                .trinta-badge {
                    font-size: 11px;
                }
                .action {
                    .mat-mdc-button {
                        font-size: 15px;
                    }
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .in-progress-projects-table {
        .mat-mdc-table {
            .mat-mdc-header-row {
                .mat-mdc-header-cell {
                    padding: 0 15px 15px;
                }
            }
            .mat-mdc-cell {
                padding: 15px;

                .project-info {
                    .info {
                        h6 {
                            font-size: 14px;
                        }
                    }
                }
                .action {
                    .mat-mdc-button {
                        font-size: 17px;
                    }
                }
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}