.trinta-card {
    &.about-project-card {
        .mat-mdc-card-header {
            .action {
                .mat-mdc-button {
                    color: #818093;
                    margin-right: 12px;

                    i-feather {
                        width: 18px;
                        height: 18px;
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
        .mat-mdc-card-content {
            h4 {
                font-size: 24px;
                margin-bottom: 17px;
            }
            ul {
                margin-top: 25px;

                li {
                    margin-right: 45px;

                    span {
                        font-size: 13px;
                        margin-bottom: 10px;
                        letter-spacing: 1px;
                    }
                    h6 {
                        font-size: 20px;
                        letter-spacing: 1px;
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .trinta-card {
        &.about-project-card {
            .mat-mdc-card-content {
                h4 {
                    font-size: 18px;
                    margin-bottom: 13px;
                }
                ul {
                    margin-top: -15px;
    
                    li {
                        margin: {
                            right: 15px;
                            top: 15px;
                        };
                        span {
                            margin-bottom: 7px;
                        }
                        h6 {
                            font-size: 15px;
                            letter-spacing: .5px;
                        }
                    }
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}