.trinta-card {
    &.login-history-card {
        ul {
            li {
                border-bottom: 1px solid #edeff5;
                padding: {
                    top: 17px;
                    bottom: 17px;
                };
                h6 {
                    font-size: 15px;
                    margin-bottom: 11px;
                }
                p {
                    font-size: 16px;
                    margin-bottom: 10px;
                }
                .mat-mdc-button {
                    padding: 0;
                    height: auto;
                    min-width: auto;
                    color: var(--primaryColor);
                    font: {
                        size: 15px;
                        weight: 600;
                        family: var(--headingFontFamily);
                    };
                }
                &:first-child {
                    padding-top: 0;
                }
            }
        }
    }
}
::ng-deep {
    .trinta-card {
        &.change-password-card {
            .save-password-btn {
                text-align: end;
                
                .mat-mdc-button {
                    height: auto;
                    min-width: auto;
                    border-radius: 6px;
                    padding: 18px 25px;
                    letter-spacing: 0.16px;
                    color: var(--whiteColor);
                    background-color: var(--primaryColor);
                    font: {
                        size: 16px;
                        weight: 600;
                        family: var(--headingFontFamily);
                    };
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .trinta-card {
        &.login-history-card {
            ul {
                li {
                    padding: {
                        top: 15px;
                        bottom: 15px;
                    };
                    h6 {
                        font-size: 14px;
                        margin-bottom: 9px;
                    }
                    p {
                        font-size: 13px;
                        margin-bottom: 8px;
                    }
                    .mat-mdc-button {
                        font-size: 13px;
                        margin-top: 13px;
                    }
                }
            }
        }
    }
    ::ng-deep {
        .trinta-card {
            &.change-password-card {
                .save-password-btn {
                    .mat-mdc-button {
                        padding: 15px 25px;
                        font-size: 14px;
                    }
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .trinta-card {
        &.login-history-card {
            ul {
                li {
                    p {
                        font-size: 14px;
                    }
                    .mat-mdc-button {
                        font-size: 14px;
                    }
                }
            }
        }
    }
    ::ng-deep {
        .trinta-card {
            &.change-password-card {
                .save-password-btn {
                    .mat-mdc-button {
                        padding: 15px 25px;
                        font-size: 15px;
                    }
                }
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .trinta-card {
        &.login-history-card {
            ul {
                li {
                    p {
                        font-size: 15px;
                    }
                }
            }
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}