.trinta-card {
    &.calendar-card {
        .events-list {
            li {
                padding: 19px 15px;
                border-radius: 6px;
                margin-bottom: 8px;
                background-color: #f7faff;

                .content {
                    .number {
                        width: 36px;
                        height: 36px;
                        margin-right: 12px;
                    }
                    .title {
                        h6 {
                            font-size: 14px;
                            margin-bottom: 7px;
                        }
                    }
                }
                .image {
                    img {
                        margin-bottom: -5px;
                        border-radius: 6px;
                        width: 45px;
                    }
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
::ng-deep {
    .trinta-card {
        &.calendar-card {
            .mat-mdc-card-content {
                .mat-calendar {
                    margin-bottom: 10px;
                    text-align: center;

                    .mat-calendar-header {
                        padding: 0;
                        display: none;
                        margin-bottom: 20px;

                        .mat-calendar-spacer {
                            display: none;
                        }
                        .mat-calendar-controls {
                            margin: 0;
                            justify-content: space-between;
                        }
                        .mat-calendar-previous-button {
                            order: 1;
                            background-color: #f7f7f7;
                        }
                        .mat-calendar-period-button {
                            order: 2;

                            &.mat-mdc-button {
                                margin: 0;
                                padding: 0;
                                height: auto;
                                color: var(--blackColor);

                                .mat-calendar-arrow {
                                    fill: var(--bodyColor);
                                    position: relative;
                                    top: -2px;
                                }
                            }
                        }
                        .mat-calendar-next-button {
                            order: 3;
                            background-color: #f7f7f7;
                        }
                    }
                    .mat-calendar-table-header {
                        th {
                            color: var(--darkColor);
                            padding-bottom: 0;
                            font-size: 13px;
                        }
                    }
                    .mat-calendar-table-header-divider {
                        display: none;
                    }
                    .mat-calendar-body {
                        min-width: auto;

                        .mat-calendar-body-label {
                            opacity: 0;
                        }
                    }
                    .mat-calendar-body-label {
                        padding: 0 !important;
                    }
                    .mat-calendar-body-cell {
                        padding: 0;
                        width: 39px;
                        height: 39px;
                        border-radius: 50%;
                        position: relative;
                        margin: {
                            left: auto;
                            right: auto;
                        };
                        &.mat-calendar-body-active {
                            background-color: var(--primaryColor);
                            
                            .mat-calendar-body-cell-content {
                                color: var(--whiteColor);
                                box-shadow: unset !important;
                                border-color: var(--primaryColor) !important;
                            }
                        }
                        .mat-calendar-body-cell-content {
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            color: var(--blackColor);
                            font-size: var(--fontSize);
                        }
                        .mat-calendar-body-selected {
                            background-color: var(--primaryColor);
                        }
                        .mat-calendar-body-cell-preview {
                            height: 100%;
                            top: 0;
                        }
                        &::before, &::after {
                            display: none;
                        }
                    }
                    .mat-calendar-body-today {
                        &:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
                            border-color: #e0e0e0;
                        }
                    }
                    .mat-calendar-body-cell-container {
                        width: auto !important;
                        padding: 0 !important;
                        line-height: initial;
                        height: auto;
                    }
                    .mat-calendar-content {
                        padding: 0;

                        mat-month-view {
                            display: block;
                            overflow-x: auto;
                            -webkit-overflow-scrolling: touch;
                        }
                    }
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .trinta-card {
        &.calendar-card {
            .events-list {
                li {
                    .content {
                        .title {
                            h6 {
                                font-size: 13px;
                            }
                        }
                    }
                    .image {
                        margin-top: 12px;
                    }
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {

    .trinta-card {
        &.calendar-card {
            .events-list {
                li {
                    .image {
                        margin-top: 0;
                    }
                }
            }
        }
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    .trinta-card {
        &.calendar-card {
            .events-list {
                li {
                    padding: 13.1px 15px;
                }
            }
        }
    }

}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {
    
    .trinta-card {
        &.calendar-card {
            .events-list {
                li {
                    padding: 20px;
                    margin-bottom: 10px;

                    .content {
                        .number {
                            margin-right: 15px;
                        }
                        .title {
                            h6 {
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
        }
    }

}