::ng-deep {
    .header-area {
        padding: 17px 20px;
        position: fixed;
        left: 282px;
        z-index: 5;
        right: 0;
        top: 0;
    
        .header-left-side {
            .burger-menu {
                top: 1px;
                cursor: pointer;
    
                &:hover {
                    color: var(--primaryColor);
                }
            }
            .search-box {
                width: 320px;
                margin-left: 20px;
    
                .input-search {
                    height: 46px;
                    padding: 0 20px;
                    border-radius: 6px;
                    background: #f5f7fa;
                    color: var(--darkColor);
                    font: {
                        weight: normal;
                        size: var(--fontSize);
                        family: var(--fontFamily);
                    };
                    &::placeholder {
                        color: var(--bodyColor);
                        transition: var(--transition);
                    }
                    &:focus {
                        &::placeholder {
                            color: transparent;
                        }
                    }
                }
                button {
                    top: 10px;
                    right: 20px;
                    cursor: pointer;
                    position: absolute;
                    color: var(--primaryColor);
                }
            }
        }
        .header-right-side {
            li {
                margin: {
                    left: 6px;
                    right: 6px;
                };
                .dark-swtich-btn {
                    &.mat-mdc-button {
                        padding: 0;
                        width: 42px;
                        height: 42px;
                        min-width: auto;
                        color: #818093;
                        border-radius: 50%;
                        display: inline-block;
                        background-color: rgba(55, 97, 238, 0.05);

                        .mdc-button__label {
                            left: 0;
                            right: 0;
                            top: 50%;
                            line-height: 1;
                            margin-top: 1px;
                            position: absolute;
                            transform: translateY(-50%);

                            i-feather {
                                width: 20px;
                                height: 20px;
                            }
                        }
                        .mat-mdc-button-touch-target {
                            height: 100%;
                        }
                    }
                }
                .messages-menu-btn {
                    &.mat-mdc-button {
                        padding: 0;
                        width: 42px;
                        height: 42px;
                        min-width: auto;
                        color: #818093;
                        border-radius: 50%;
                        display: inline-block;
                        background-color: rgba(55, 97, 238, 0.05);

                        .mdc-button__label {
                            left: 0;
                            right: 0;
                            top: 50%;
                            line-height: 1;
                            margin-top: 1px;
                            position: absolute;
                            transform: translateY(-50%);

                            i-feather {
                                width: 20px;
                                height: 20px;
                            }
                            .trinta-badge {
                                top: -14px;
                                right: -6px;
                                width: 20px;
                                height: 20px;
                                font-size: 12px;
                                position: absolute;
                                background: #e74c3c;
                                letter-spacing: 0.12px;
                            }
                        }
                        .mat-mdc-button-touch-target {
                            height: 100%;
                        }
                    }
                }
                .notifications-menu-btn {
                    &.mat-mdc-button {
                        padding: 0;
                        width: 42px;
                        height: 42px;
                        min-width: auto;
                        color: #818093;
                        border-radius: 50%;
                        display: inline-block;
                        background-color: rgba(55, 97, 238, 0.05);

                        .mdc-button__label {
                            left: 0;
                            right: 0;
                            top: 50%;
                            line-height: 1;
                            margin-top: 1px;
                            position: absolute;
                            transform: translateY(-50%);

                            i-feather {
                                width: 20px;
                                height: 20px;
                            }
                            .trinta-badge {
                                top: -14px;
                                right: -6px;
                                width: 20px;
                                height: 20px;
                                font-size: 12px;
                                position: absolute;
                                letter-spacing: 0.12px;
                            }
                        }
                        .mat-mdc-button-touch-target {
                            height: 100%;
                        }
                    }
                }
                .date-btn {
                    margin-left: 11px;
                    border-radius: 4px;
                    color: var(--blackColor);
                    border: 1px solid #e2e8f0;
                    padding: 13px 20px 10px 48px;

                    i-feather {
                        top: 50%;
                        left: 20px;
                        width: 20px;
                        height: 20px;
                        position: absolute;
                        color: var(--primaryColor);
                        transform: translateY(-50%);
                    }
                }
                .language-menu-btn {
                    &.mat-mdc-button {
                        height: auto;
                        min-width: auto;
                        margin-left: 10px;
                        padding: 0 15px 0 0;
                        color: var(--blackColor);

                        .mdc-button__label {
                            display: flex;
                            align-items: center;

                            img {
                                margin-right: 8px;
                                width: 24px;
                            }
                        }
                        .mat-mdc-button-touch-target {
                            height: 100%;
                        }
                        &::before {
                            top: 50%;
                            right: -4px;
                            margin-top: -1px;
                            content: "\ea4e";
                            position: absolute;
                            transform: translateY(-50%);
                            font: {
                                size: 15px;
                                family: remixicon;
                            };
                        }
                    }
                }
                .profile-menu-btn {
                    &.mat-mdc-button {
                        display: inline-block;
                        border-radius: 50%;
                        margin-left: 8px;
                        min-width: auto;
                        height: auto;
                        padding: 0;

                        .mdc-button__label {
                            display: block;
                            line-height: 1;

                            img {
                                width: 40px;
                            }
                        }
                        .mat-mdc-button-touch-target {
                            height: 100%;
                        }
                        .mat-mdc-button-persistent-ripple {
                            &::before {
                                border-radius: 50%;
                            }
                        }
                    }
                }
                &:first-child {
                    margin-left: 0;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        &.active {
            left: 85px;
        }
    }
    .mat-mdc-menu-panel {
        &.messages-menu-dropdown {
            width: 375px;
            height: auto;
            padding: 20px 0;
            max-width: 375px;
            overflow: hidden;
            margin-top: 19px;
            border-radius: 0;
            box-shadow: 0px 4px 20px 0px rgba(47, 143, 232, 0.07);

            .title {
                padding: {
                    left: 20px;
                    right: 20px;
                    bottom: 20px;
                };
            }
            .mat-mdc-menu-content {
                padding: 0;
            }
            .menu-body {
                margin-bottom: 20px;

                li {
                    border-bottom: 1px dashed #eeeeee;
                    padding: 18px 20px 18px 80px;

                    img {
                        top: 50%;
                        left: 20px;
                        width: 50px;
                        transform: translateY(-50%);
                    }
                    .sub-title {
                        margin-bottom: 5px;
                        
                        span {
                            font-size: 13.5px;
                            margin-left: 5px;
                        }
                    }
                    .unread {
                        top: 50%;
                        width: 6px;
                        right: 20px;
                        height: 6px;
                        transform: translateY(-50%);
                    }
                    &:first-child {
                        border-top: 1px dashed #eeeeee;
                    }
                }
            }
        }
        &.notifications-menu-dropdown {
            width: 375px;
            height: auto;
            padding: 20px 0;
            max-width: 375px;
            overflow: hidden;
            margin-top: 19px;
            border-radius: 0;
            box-shadow: 0px 4px 20px 0px rgba(47, 143, 232, 0.07);

            .title {
                padding: {
                    left: 20px;
                    right: 20px;
                    bottom: 20px;
                };
            }
            .mat-mdc-menu-content {
                padding: 0;
            }
            .menu-body {
                margin-bottom: 20px;

                li {
                    border-bottom: 1px dashed #eeeeee;
                    padding: 18px 20px 18px 75px;

                    .icon {
                        top: 50%;
                        left: 20px;
                        width: 44px;
                        height: 44px;
                        color: var(--primaryColor);
                        transform: translateY(-50%);
                        background-color: rgba(55, 97, 238, 0.05);

                        i {
                            line-height: 1;
                            font-size: 22px;
                        }
                    }
                    .sub-title {
                        margin-bottom: 4px;
                    }
                    .time {
                        font-size: 13.5px;
                    }
                    .unread {
                        top: 50%;
                        width: 6px;
                        right: 20px;
                        height: 6px;
                        transform: translateY(-50%);
                    }
                    &:first-child {
                        border-top: 1px dashed #eeeeee;
                    }
                    &:nth-child(2) {
                        .icon {
                            color: #39b2de;
                        }
                    }
                    &:nth-child(3) {
                        .icon {
                            color: #00b69b;
                        }
                    }
                    &:hover {
                        .icon {
                            background-color: var(--primaryColor);
                            color: var(--whiteColor) !important;
                        }
                    }
                }
            }
        }
        &.language-menu-dropdown {
            width: 220px;
            height: auto;
            max-width: 220px;
            overflow: hidden;
            margin-top: 29px;
            border-radius: 0;
            padding: 15px 0 0;
            box-shadow: 0px 4px 20px 0px rgba(47, 143, 232, 0.07);

            .title {
                padding: 0 20px 15px;
            }
            .mat-mdc-menu-content {
                padding: 0;
            }
            .menu-body {
                li {
                    border-bottom: 1px dashed #eeeeee;

                    .mdc-button {
                        padding: 0;
                        width: 100%;
                        height: auto;
                        display: block;
                        padding: 14px 20px;
                        
                        .mdc-button__label {
                            display: flex;
                            font-weight: 500;
                            align-items: center;
                            color: var(--blackColor);
                            
                            img {
                                margin-right: 10px;
                                width: 24px;
                            }
                        }
                    }
                    &:first-child {
                        border-top: 1px dashed #eeeeee;
                    }
                    &:last-child {
                        border-bottom: 0;
                    }
                }
            }
        }
        &.profile-menu-dropdown {
            width: 220px;
            min-width: auto;
            max-width: 100%;
            overflow: hidden;
            margin-top: 19px;
            border-radius: 0;
            padding: 20px 0 12px;
            box-shadow: 0px 4px 20px 0px rgba(47, 143, 232, 0.07);

            .menu-header {
                border-bottom: 1px dashed #eeeeee;
                margin-bottom: 10px;
                padding: {
                    left: 20px;
                    right: 20px;
                    bottom: 20px;
                };
                img {
                    width: 45px;
                }
                .title {
                    margin-left: 12px;

                    a {
                        font-size: 15px;
                    }
                    .designation {
                        margin-top: 3px;
                    }
                }
            }
            .mat-mdc-menu-content {
                padding: 0;
            }
            .menu-body {
                li {
                    padding: 10px 20px 10px 48px;

                    i {
                        top: 50%;
                        left: 20px;
                        line-height: 1;
                        font-size: 20px;
                        margin-top: -0.2px;
                        position: absolute;
                        color: var(--primaryColor);
                        transform: translateY(-50%);
                    }
                    &:hover {
                        background-color: rgba(55, 97, 238, 0.05);
                        color: var(--primaryColor);
                    }
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    ::ng-deep {
        .header-area {
            left: 0;
            right: 0;
            padding: {
                top: 15px;
                bottom: 15px;
            };
            .header-left-side {
                justify-content: center;
                margin-bottom: 15px;

                .burger-menu {
                    top: 0;
                }
                .search-box {
                    width: 251px;
                    margin-left: 15px;
        
                    .input-search {
                        height: 45px;
                        padding: 0 15px;
                    }
                    button {
                        top: 12px;
                        right: 15px;

                        i-feather {
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
            }
            .header-right-side {
                justify-content: center;

                li {
                    margin: {
                        left: 4px;
                        right: 4px;
                    };
                    .dark-swtich-btn {
                        &.mat-mdc-button {
                            width: 40px;
                            height: 40px;

                            .mdc-button__label {
                                i-feather {
                                    width: 18px;
                                    height: 18px;
                                }
                            }
                        }
                    }
                    .messages-menu-btn {
                        &.mat-mdc-button {
                            width: 40px;
                            height: 40px;

                            .mdc-button__label {
                                i-feather {
                                    width: 18px;
                                    height: 18px;
                                }
                                .trinta-badge {
                                    top: -12px;
                                    right: -5px;
                                    width: 17px;
                                    height: 17px;
                                    font-size: 10px;
                                }
                            }
                        }
                    }
                    .notifications-menu-btn {
                        &.mat-mdc-button {
                            width: 40px;
                            height: 40px;

                            .mdc-button__label {
                                i-feather {
                                    width: 18px;
                                    height: 18px;
                                }
                                .trinta-badge {
                                    top: -12px;
                                    right: -5px;
                                    width: 17px;
                                    height: 17px;
                                    font-size: 10px;
                                }
                            }
                        }
                    }
                    .date-btn {
                        display: none;
                        margin-left: 8px;
                        padding: 12px 15px 9px 38px;
    
                        i-feather {
                            left: 15px;
                            width: 17px;
                            height: 17px;
                        }
                    }
                    .language-menu-btn {
                        &.mat-mdc-button {
                            margin-left: 1px;
                            padding: 0 14px 0 0;
                        }
                    }
                    .profile-menu-btn {
                        &.mat-mdc-button {
                            margin-left: 5px;
    
                            .mdc-button__label {
                                img {
                                    width: 35px;
                                }
                            }
                        }
                    }
                }
            }
            &.active {
                left: 0;
            }
        }
        .mat-mdc-menu-panel {
            &.messages-menu-dropdown {
                width: 290px;
                padding: 15px 0;
                max-width: 290px;
                margin-top: 15px;
                
                .title {
                    padding: {
                        left: 15px;
                        right: 15px;
                        bottom: 15px;
                    };
                }
                .menu-body {
                    margin-bottom: 15px;
    
                    li {
                        padding: 15px 15px 15px 75px;
    
                        img {
                            left: 15px;
                        }
                        .sub-title {
                            span {
                                font-size: 12.5px;
                            }
                        }
                        .unread {
                            width: 5px;
                            right: 15px;
                            height: 5px;
                        }
                    }
                }
            }
            &.notifications-menu-dropdown {
                width: 290px;
                padding: 15px 0;
                max-width: 290px;
                margin-top: 15px;
    
                .title {
                    padding: {
                        left: 15px;
                        right: 15px;
                        bottom: 15px;
                    };
                }
                .menu-body {
                    margin-bottom: 15px;
    
                    li {
                        padding: 15px 15px 15px 70px;
    
                        .icon {
                            left: 15px;
    
                            i {
                                font-size: 20px;
                            }
                        }
                        .time {
                            font-size: 12.5px;
                        }
                        .unread {
                            width: 5px;
                            right: 15px;
                            height: 5px;
                        }
                    }
                }
            }
            &.language-menu-dropdown {
                width: 200px;
                max-width: 200px;
                margin-top: 25px;
    
                .title {
                    padding: 0 15px 15px;
                }
                .menu-body {
                    li {
                        .mdc-button {
                            padding: 14px 15px;
                            
                            .mdc-button__label {
                                img {
                                    margin-right: 9px;
                                }
                            }
                        }
                    }
                }
            }
            &.profile-menu-dropdown {
                width: 200px;
                margin-top: 16px;
                padding: 15px 0 10px;
    
                .menu-header {
                    margin-bottom: 6px;
                    padding: {
                        left: 15px;
                        right: 15px;
                        bottom: 15px;
                    };
                    .title {
                        a {
                            font-size: 14px;
                        }
                    }
                }
                .menu-body {
                    li {
                        padding: 10px 15px 10px 40px;
    
                        i {
                            left: 15px;
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
    
}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    ::ng-deep {
        .header-area {
            padding: 15px 25px;
            left: 0;
            
            .header-left-side {
                .search-box {
                    width: 270px;
                    margin-left: 15px;
        
                    .input-search {
                        padding: 0 18px;
                    }
                    button {
                        right: 18px;
                    }
                }
            }
            .header-right-side {
                li {
                    margin: {
                        left: 6px;
                        right: 6px;
                    };
                    .dark-swtich-btn {
                        &.mat-mdc-button {
                            width: 40px;
                            height: 40px;
                        }
                    }
                    .messages-menu-btn {
                        &.mat-mdc-button {
                            width: 40px;
                            height: 40px;
                        }
                    }
                    .notifications-menu-btn {
                        &.mat-mdc-button {
                            width: 40px;
                            height: 40px;
    
                            .mdc-button__label {
                                .trinta-badge {
                                    top: -14px;
                                    right: -6px;
                                    width: 20px;
                                    height: 20px;
                                    font-size: 11px;
                                }
                            }
                        }
                    }
                    .date-btn {
                        display: none;
                        margin-left: 9px;
                        padding: 12px 15px 10px 43px;
    
                        i-feather {
                            left: 15px;
                        }
                    }
                    .language-menu-btn {
                        &.mat-mdc-button {
                            margin-left: -1px;
                        }
                    }
                    .profile-menu-btn {
                        &.mat-mdc-button {
                            margin-left: 5px;
                        }
                    }
                }
            }
            &.active {
                left: 0;
            }
        }
        .mat-mdc-menu-panel {
            &.messages-menu-dropdown {
                margin-top: 18px;
            }
            &.notifications-menu-dropdown {
                margin-top: 18px;
            }
            &.language-menu-dropdown {
                margin-top: 27px;
            }
            &.profile-menu-dropdown {
                margin-top: 17px;
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    ::ng-deep {
        .header-area {
            left: 0;
            padding: {
                left: 25px;
                right: 25px;
            };
            .header-left-side {
                .search-box {
                    width: 300px;
                }
            }
            &.active {
                left: 0;
            }
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    ::ng-deep {
        .header-area {
            .header-left-side {
                .search-box {
                    width: 300px;
                }
            }
        }
    }

}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}