.trinta-card {
    &.shopping-cart-card {
        .shopping-cart-table {
            .mat-mdc-table {
                width: 100%;
                overflow: hidden;
                background-color: transparent;

                .mat-mdc-header-row {
                    height: auto;
                    line-height: initial;
                    letter-spacing: 0.14px;
                    color: var(--darkColor);
                    background: transparent;
                    font: {
                        weight: 500;
                        size: var(--fontSize);
                        family: var(--fontFamily);
                    };
                    .mat-mdc-header-cell {
                        border: none;
                        overflow: unset;
                        text-align: start;
                        white-space: nowrap;
                        line-height: initial;
                        padding: 0 15px 15px;
                        letter-spacing: normal;
                        background: transparent;
                        border-bottom: 2px solid #edeff5;
                    }
                }
                .mat-mdc-row, .mdc-data-table__content {
                    line-height: initial;
                    background: transparent;
                    font: {
                        weight: normal;
                        size: var(--fontSize);
                        family: var(--fontFamily);
                    };
                }
                .mat-mdc-row {
                    height: auto;
                    color: var(--blackColor);
                }
                .mat-mdc-cell {
                    border: none;
                    padding: 15px;
                    overflow: hidden;
                    text-align: start;
                    white-space: nowrap;
                    line-height: initial;
                    letter-spacing: 0.14px;
                    background: transparent;
                    border-bottom: 1px solid #edeff5;

                    .product-info {
                        .image {
                            width: 52px;
                            margin-right: 16px;
                            border-radius: 6px;

                            img {
                                border-radius: 6px;
                            }
                        }
                        .info {
                            a {
                                margin-bottom: 7px;
                                font: {
                                    size: 15px;
                                    family: var(--headingFontFamily);
                                };
                            }
                        }
                    }
                }
            }
        }
        .cart-info {
            margin-top: 25px !important;

            li {
                border-top: 1px solid #edeff5;
                padding: {
                    top: 17px;
                    bottom: 17px;
                };
                &:first-child {
                    padding-top: 0;
                    border: {
                        top-width: 0;
                        bottom: 1px solid #edeff5;
                    };
                }
                &:last-child {
                    padding-bottom: 0;
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .trinta-card {
        &.shopping-cart-card {
            .shopping-cart-table {
                .mat-mdc-table {
                    .mat-mdc-header-row {
                        font-size: 13px;
                    }
                    .mat-mdc-row, .mdc-data-table__content {
                        font-size: 13px;
                    }
                    .mat-mdc-cell {
                        .product-info {
                            .image {
                                width: 50px;
                                margin-right: 12px;
                            }
                            .info {
                                a {
                                    margin-bottom: 7px;
                                    font-size: 13px;
                                }
                            }
                        }
                    }
                }
            }
        .cart-info {
            margin-top: 20px !important;
            
            li {
                padding: {
                    top: 15px;
                    bottom: 15px;
                };
            }
        }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .trinta-card {
        &.shopping-cart-card {
            .shopping-cart-table {
                .mat-mdc-table {
                    .mat-mdc-cell {
                        .product-info {
                            .image {
                                margin-right: 15px;
                            }
                            .info {
                                a {
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}