<div class="row">
    <div class="col-xxl-3 col-sm-6">
        <mat-card
            class="trinta-card stat-card mb-25 bg-white border-none d-block"
        >
            <mat-card-content>
                <div class="d-flex align-items-center justify-content-between">
                    <div class="title">
                        <span class="d-block text-gray">
                            Total Students
                        </span>
                        <h5 class="m-0">
                            258k
                        </h5>
                    </div>
                    <div class="icon d-flex align-items-center rounded-circle justify-content-center">
                        <img src="assets/images/icons/user.svg" alt="icon">
                    </div>
                </div>
                <div class="info d-flex align-items-center">
                    <span class="trending d-block fw-medium position-relative">
                        2.80% <i class="ri-arrow-up-s-line"></i>
                    </span>
                    <span class="d-block text-body">
                        This month
                    </span>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xxl-3 col-sm-6">
        <mat-card
            class="trinta-card stat-card mb-25 bg-white border-none d-block"
        >
            <mat-card-content>
                <div class="d-flex align-items-center justify-content-between">
                    <div class="title">
                        <span class="d-block text-gray">
                            Total Mentors
                        </span>
                        <h5 class="m-0">
                            105
                        </h5>
                    </div>
                    <div class="icon d-flex align-items-center rounded-circle justify-content-center">
                        <img src="assets/images/icons/star-user.svg" alt="icon">
                    </div>
                </div>
                <div class="info d-flex align-items-center">
                    <span class="trending down d-block fw-medium position-relative">
                        0.60% <i class="ri-arrow-down-s-line"></i>
                    </span>
                    <span class="d-block text-body">
                        This month
                    </span>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xxl-3 col-sm-6">
        <mat-card
            class="trinta-card stat-card mb-25 bg-white border-none d-block"
        >
            <mat-card-content>
                <div class="d-flex align-items-center justify-content-between">
                    <div class="title">
                        <span class="d-block text-gray">
                            Total Courses
                        </span>
                        <h5 class="m-0">
                            1.07K
                        </h5>
                    </div>
                    <div class="icon d-flex align-items-center rounded-circle justify-content-center">
                        <img src="assets/images/icons/book.svg" alt="icon">
                    </div>
                </div>
                <div class="info d-flex align-items-center">
                    <span class="trending d-block fw-medium position-relative">
                        3.55% <i class="ri-arrow-up-s-line"></i>
                    </span>
                    <span class="d-block text-body">
                        This month
                    </span>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xxl-3 col-sm-6">
        <mat-card
            class="trinta-card stat-card mb-25 bg-white border-none d-block"
        >
            <mat-card-content>
                <div class="d-flex align-items-center justify-content-between">
                    <div class="title">
                        <span class="d-block text-gray">
                            Total Enrolled
                        </span>
                        <h5 class="m-0">
                            1.02k
                        </h5>
                    </div>
                    <div class="icon d-flex align-items-center rounded-circle justify-content-center">
                        <img src="assets/images/icons/star-bookmark.svg" alt="icon">
                    </div>
                </div>
                <div class="info d-flex align-items-center">
                    <span class="trending d-block fw-medium position-relative">
                        1.70% <i class="ri-arrow-up-s-line"></i>
                    </span>
                    <span class="d-block text-body">
                        This month
                    </span>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>