.trinta-card {
    &.invoice-details-card {
        .mat-mdc-card-content {
            .invoice-info {
                span {
                    margin-bottom: 11px;

                    &:first-child {
                        margin-bottom: 16px;
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
                .info {
                    .qr-code {
                        padding: 25px;
                        margin-right: 20px;
                        border-radius: 6px;
                        background: #f5f7fa;
                    }
                    div {
                        h5 {
                            font-size: 18px;
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
    &.order-summary-card {
        .mat-mdc-card-content {
            table, .table {
                width: 100%;
                vertical-align: top;
                caption-side: bottom;
                border: {
                    spacing: 0;
                    collapse: collapse;
                    color: transparent;
                };
                thead {
                    tr {
                        th {
                            text-align: start;
                            white-space: nowrap;
                            padding: 0 15px 15px;
                            vertical-align: middle;
                            color: var(--darkColor);
                            border-bottom: 2px solid #edeff5;
                            font: {
                                size: var(--fontSize);
                                weight: 500;
                            };
                            &:first-child {
                                padding-left: 0;
                            }
                            &:last-child {
                                padding-right: 0;
                                text-align: end;
                            }
                        }
                    }
                }
                tbody {
                    tr {
                        td {
                            padding: 17px 15px;
                            white-space: nowrap;
                            vertical-align: middle;
                            color: var(--blackColor);
                            font-size: var(--fontSize);
                            border-top: 1px solid #edeff5;
                            
                            span {
                                margin-bottom: 10px;
                                color: var(--darkColor);
                            }
                            &:first-child {
                                padding-left: 0;
                                color: var(--primaryColor);
                                font: {
                                    size: 15px;
                                    weight: 600;
                                    family: var(--headingFontFamily);
                                };
                            }
                            &:last-child {
                                padding-right: 0;
                                text-align: end;
                            }
                        }
                    }
                }
            }
            .btn-box {
                text-align: end;
                margin-top: 10px;

                .mat-mdc-button {
                    height: auto;
                    min-width: auto;
                    padding: 10.5px 15px;
                    color: var(--whiteColor);
                    background-color: var(--primaryColor);
                    font: {
                        size: 14px;
                        weight: 600;
                        family: var(--headingFontFamily);
                    };
                    &:first-child {
                        margin-right: 20px;
                        color: var(--primaryColor);
                        background: rgba(55, 97, 238, 0.10);
                    }
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .trinta-card {
        &.invoice-details-card {
            .mat-mdc-card-content {
                .invoice-info {
                    span {
                        margin-bottom: 9px;
    
                        &:first-child {
                            margin-bottom: 9px;
                        }
                    }
                    .info {
                        .qr-code {
                            padding: 15px;
                            margin-right: 15px;
                        }
                        div {
                            h5 {
                                font-size: 14px;
                            }
                        }
                    }
                    .col-lg-3 {
                        margin-bottom: 20px;

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
        &.order-summary-card {
            .mat-mdc-card-content {
                table, .table {
                    thead {
                        tr {
                            th {
                                font-size: 13px;
                            }
                        }
                    }
                    tbody {
                        tr {
                            td {
                                font-size: 13px;
                                padding: {
                                    top: 15px;
                                    bottom: 15px;
                                };
                                &:first-child {
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
                .btn-box {
                    margin-top: 10px;
    
                    .mat-mdc-button {
                        padding: 10px 15px;
                        font-size: 13px;

                        &:first-child {
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .trinta-card {
        &.invoice-details-card {
            .mat-mdc-card-content {
                .invoice-info {
                    span {
                        margin-bottom: 9px;
    
                        &:first-child {
                            margin-bottom: 12px;
                        }
                    }
                    .info {
                        .qr-code {
                            padding: 20px;
                            margin-right: 20px;
                        }
                        div {
                            h5 {
                                font-size: 17px;
                            }
                        }
                    }
                    .col-lg-3 {
                        margin-bottom: 25px;

                        &:nth-child(3), &:nth-child(4) {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {

    .trinta-card {
        &.invoice-details-card {
            .mat-mdc-card-content {
                .invoice-info {
                    .info {
                        .qr-code {
                            padding: 40px;
                            margin-right: 25px;
                        }
                    }
                }
            }
        }
    }

}