.trinta-card {
    &.earnings-reports-card {
        .earnings-reports-table {
            .mat-mdc-table {
                width: 100%;
                overflow: hidden;
                background-color: transparent;

                .mat-mdc-header-row {
                    height: auto;
                    line-height: initial;
                    letter-spacing: 0.14px;
                    color: var(--darkColor);
                    background: transparent;
                    font: {
                        weight: 500;
                        size: var(--fontSize);
                        family: var(--fontFamily);
                    };
                    .mat-mdc-header-cell {
                        border: none;
                        overflow: unset;
                        text-align: start;
                        white-space: nowrap;
                        line-height: initial;
                        letter-spacing: normal;
                        background: transparent;
                        padding: 0 17.3px 17.3px;
                        border-bottom: 2px solid #edeff5;
                    }
                }
                .mat-mdc-row, .mdc-data-table__content {
                    line-height: initial;
                    background: transparent;
                    font: {
                        weight: normal;
                        size: var(--fontSize);
                        family: var(--fontFamily);
                    };
                }
                .mat-mdc-row {
                    height: auto;
                    color: var(--blackColor);
                }
                .mat-mdc-cell {
                    border: none;
                    padding: 17.3px;
                    overflow: hidden;
                    text-align: start;
                    white-space: nowrap;
                    line-height: initial;
                    letter-spacing: 0.14px;
                    background: transparent;
                    border-bottom: 1px solid #edeff5;
                }
            }
            .mat-mdc-paginator {
                padding-top: 17.3px;
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .trinta-card {
        &.earnings-reports-card {
            .earnings-reports-table {
                .mat-mdc-table {
                    .mat-mdc-header-row {
                        font-size: 13px;

                        .mat-mdc-header-cell {
                            padding: 0 15px 15px;
                        }
                    }
                    .mat-mdc-row, .mdc-data-table__content {
                        font-size: 13px;
                    }
                    .mat-mdc-cell {
                        padding: 15px;
                    }
                }
                .mat-mdc-paginator {
                    padding-top: 15px;
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .trinta-card {
        &.earnings-reports-card {
            .earnings-reports-table {
                .mat-mdc-table {
                    .mat-mdc-header-row {
                        .mat-mdc-header-cell {
                            padding: 0 15px 15px;
                        }
                    }
                    .mat-mdc-cell {
                        padding: 15px;
                    }
                }
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}