.mat-mdc-card {
    &.trinta-card {
        &.client-card {
            .mat-mdc-card-header {
                margin-bottom: 0;
            }
            .mat-mdc-card-content {
                .user {
                    img {
                        width: 153px;
                        height: 153px;
                    }
                    h5 {
                        font-size: 16px;
                        margin: {
                            top: 20px;
                            bottom: 11px;
                        };
                    }
                }
                .list {
                    margin: {
                        top: 24px;
                        bottom: 29px;
                    };
                    li {
                        margin-bottom: 11px;
    
                        span {
                            margin-right: 3px;
                            letter-spacing: 1px;
                        }
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
                .buttons-list {
                    .default-btn {
                        &.mat-mdc-button {
                            height: auto;
                            min-width: auto;
                            border-radius: 6px;
                            padding: 10px 15px 11px;
                            color: var(--primaryColor);
                            background: rgba(55, 97, 238, 0.10);
                            font: {
                                size: 14px;
                                weight: 600;
                                family: var(--headingFontFamily);
                            };
                            &:nth-child(2) {
                                color: var(--whiteColor);
                                background-color: var(--primaryColor);
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .mat-mdc-card {
        &.trinta-card {
            &.client-card {
                .mat-mdc-card-content {
                    .user {
                        img {
                            width: 130px;
                            height: 130px;
                        }
                        h5 {
                            font-size: 15px;
                            margin: {
                                top: 10px;
                                bottom: 8px;
                            };
                        }
                    }
                    .list {
                        margin: {
                            top: 20px;
                            bottom: 20px;
                        };
                        li {
                            margin-bottom: 10px;
        
                            span {
                                margin-right: 0;
                                letter-spacing: .5px;
                            }
                        }
                    }
                    .buttons-list {
                        .default-btn {
                            &.mat-mdc-button {
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .mat-mdc-card {
        &.trinta-card {
            &.client-card {
                .mat-mdc-card-content {
                    .user {
                        img {
                            width: 145px;
                            height: 145px;
                        }
                        h5 {
                            margin: {
                                top: 15px;
                                bottom: 9px;
                            };
                        }
                    }
                    .list {
                        margin: {
                            top: 22px;
                            bottom: 22px;
                        };
                        li {
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}