.trinta-card {
    &.pm-stat-card {
        .mat-mdc-card-content {
            span {
                font-size: 15px;
            }
            h5 {
                font-size: 20px;
                letter-spacing: 1px;
                margin: {
                    top: 10px;
                    bottom: 30px;
                };
            }
            .info {
                span {
                    font-size: 13px;
                    letter-spacing: 1px;

                    &.trending {
                        padding-right: 25px;

                        i {
                            right: 0;
                            top: 50%;
                            font-size: 20px;
                            color: #00b69b;
                            margin-top: -0.8px;
                            position: absolute;
                            transform: translateY(-50%);
                        }
                        &.down {
                            i {
                                color: var(--dangerColor);
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .trinta-card {
        &.pm-stat-card {
            .mat-mdc-card-content {
                span {
                    font-size: 13px;
                }
                h5 {
                    font-size: 16px;
                    margin: {
                        top: 10px;
                        bottom: 15px;
                    };
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .trinta-card {
        &.pm-stat-card {
            .mat-mdc-card-content {
                span {
                    font-size: 14px;
                }
                h5 {
                    font-size: 18px;
                    margin-bottom: 20px;
                }
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}