.trinta-card {
    &.privacy-policy-card {
        .mat-mdc-card-content {
            h6 {
                font-size: 16px;
                margin-bottom: 15px;
                color: var(--primaryColor);

                &:not(:first-child) {
                    margin-top: 25px;
                }
            }
            .btn-box {
                margin-top: 25px;
                text-align: end;
                
                .mat-mdc-button {
                    height: auto;
                    min-width: auto;
                    border-radius: 6px;
                    padding: 12.5px 25px;
                    letter-spacing: 0.16px;
                    color: var(--whiteColor);
                    background-color: var(--darkColor);
                    font: {
                        size: 16px;
                        weight: 600;
                        family: var(--headingFontFamily);
                    };
                    &:nth-child(2) {
                        color: var(--dangerColor);
                        margin-left: 11px;
                        background: rgba(238, 54, 140, 0.10);
                    }
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .trinta-card {
        &.privacy-policy-card {
            .mat-mdc-card-content {
                h6 {
                    font-size: 14px;
    
                    &:not(:first-child) {
                        margin-top: 20px;
                    }
                }
                .btn-box {
                    margin-top: -5px;
                    
                    .mat-mdc-button {
                        padding: 12px 25px;
                        margin-top: 10px;
                        font-size: 13px;

                        &:nth-child(2) {
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .trinta-card {
        &.privacy-policy-card {
            .mat-mdc-card-content {
                .btn-box {
                    .mat-mdc-button {
                        font-size: 14px;
                    }
                }
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .trinta-card {
        &.privacy-policy-card {
            .mat-mdc-card-content {
                .btn-box {
                    .mat-mdc-button {
                        font-size: 15px;
                    }
                }
            }
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}