.trinta-card {
    &.daily-average-income-card {
        .mat-mdc-card-content {
            position: relative;
            
            .sub-title {
                font-size: 15px;
                margin-bottom: 11px;
            }
            h3 {
                font-size: 20px;
                letter-spacing: 1px;
                margin-bottom: 30px;
            }
            .trending {
                font-size: 13px;
                color: #00b69b;
                border-radius: 4px;
                padding: 3.5px 28px 3.5px 10px;
                background: rgba(0, 182, 155, 0.10);
                
                i {
                    top: 50%;
                    right: 5px;
                    font-size: 18px;
                    margin-top: -0.5px;
                    position: absolute;
                    transform: translateY(-50%);
                }
                &.down {
                    color: var(--dangerColor);
                    background: rgba(238, 54, 140, 0.10);
                }
            }
            .chart {
                position: absolute;
                max-width: 150px;
                top: -10px;
                right: 0;
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .trinta-card {
        &.daily-average-income-card {
            .mat-mdc-card-content {
                .sub-title {
                    font-size: 13px;
                    margin-bottom: 8px;
                }
                h3 {
                    font-size: 16px;
                    margin-bottom: 18px;
                }
                .trending {
                    font-size: 12px;
                }
                .chart {
                    top: -15px;
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .trinta-card {
        &.daily-average-income-card {
            .mat-mdc-card-content {
                .sub-title {
                    font-size: 14px;
                    margin-bottom: 9px;
                }
                h3 {
                    font-size: 18px;
                    margin-bottom: 20px;
                }
                .chart {
                    top: -15px;
                }
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}