.trinta-card {
    &.chat-sidebar-card {
        .mat-mdc-card-content {
            .search-box {
                .input-search {
                    height: 56px;
                    font-size: 15px;
                    border-radius: 6px;
                    background: #f5f7fa;
                    color: var(--blackColor);
                    padding: {
                        left: 20px;
                        right: 20px;
                    };
                    &::placeholder {
                        font-weight: 300;
                        color: var(--bodyColor);
                        transition: var(--transition);
                    }
                    &:focus {
                        &::placeholder {
                            color: transparent;
                        }
                    }
                }
                button {
                    top: 50%;
                    right: 20px;
                    line-height: 1;
                    font-size: 24px;
                    position: absolute;
                    transform: translateY(-50%);
                }
            }
            .chat-users-list {
                padding-right: 10px;
                overflow-y: scroll;
                height: 623px;

                .sub-title {
                    margin-bottom: 15px;
                }
                .single-user-item {
                    border-bottom: 1px solid #f5f7fa;
                    padding-bottom: 15px;
                    margin-bottom: 15px;
                    cursor: pointer;

                    .user {
                        .img {
                            margin-right: 12px;
                            
                            img {
                                width: 45px;
                            }
                            .active-status {
                                right: 0;
                                bottom: 5px;
                                width: 12px;
                                height: 12px;
                                border-radius: 50%;
                                position: absolute;
                                background: var(--primaryColor);
                                border: 2px solid var(--whiteColor);

                                &.off {
                                    background: var(--dangerColor);
                                }
                            }
                        }
                        .title {
                            span {
                                &:not(:first-child) {
                                    margin-top: 5px;
                                    font-size: 14px;
                                }
                                &.voice {
                                    position: relative;
                                    padding-left: 18px;

                                    i {
                                        left: 0;
                                        top: 50%;
                                        position: absolute;
                                        transform: translateY(-50%);
                                    }
                                }
                            }
                        }
                    }
                    .info {
                        text-align: end;

                        .time {
                            margin-bottom: 2px;
                        }
                        .trinta-badge {
                            width: 16px;
                            height: 16px;
                            font-size: 11px;
                            line-height: 16px;
                            text-align: center;
                            border-radius: 50%;
                            color: var(--whiteColor);
                            background-color: var(--dangerColor);
                        }
                    }
                    &:last-child {
                        margin-bottom: 0;
                        padding-bottom: 0;
                        border-bottom-width: 0;
                    }
                }
                &::-webkit-scrollbar {
                    width: 5px;
                    height: 5px;
                }
                &::-webkit-scrollbar-track {
                    background-color: var(--whiteColor);
                }
                &::-webkit-scrollbar-thumb {
                    background: #ebebeb;
                }
            }
        }
    }
    &.chat-card {
        .mat-mdc-card-content {
            .chat-header {
                padding: 15px 20px;
                border-radius: 6px;
                border: 1px solid #f5f4f6;
                
                .user {
                    .img {
                        margin-right: 15px;
                        
                        img {
                            width: 53px;
                            height: 53px;
                            margin-bottom: -5px;
                        }
                        .active-status {
                            top: 3px;
                            right: 0;
                            width: 12px;
                            height: 12px;
                            border-radius: 50%;
                            position: absolute;
                            background: var(--primaryColor);
                            border: 2px solid var(--whiteColor);

                            &.off {
                                background: var(--dangerColor);
                            }
                        }
                    }
                    .title {
                        span {
                            &:nth-child(1) {
                                font-size: 15px;
                            }
                            &:not(:first-child) {
                                margin-top: 6px;
                                font-weight: 300;
                            }
                        }
                    }
                }
                .buttons-list {
                    .mat-mdc-button {
                        width: 36px;
                        height: 36px;
                        min-width: auto;
                        padding: 5px 0 0;
                        border-radius: 0;
                        margin-left: 15px;
                        color: var(--blackColor);
                        background-color: #f5f7fa;

                        i {
                            font-size: 20px;
                        }
                        &:first-child {
                            margin-left: 0;
                        }
                    }
                }
            }
            .chat-body {
                transform: rotate(180deg);
                overflow-y: scroll;
                direction: rtl;
                height: 626px;

                ul {
                    flex-direction: column-reverse;
                    justify-content: flex-end;
                    display: flex;
                    padding: {
                        bottom: 25px;
                        left: 20px;
                        right: 0;
                    };
                    li {
                        transform: rotate(180deg);
                        padding-left: 45px;
                        direction: ltr;
                        width: 80%;
        
                        .user {
                            top: 0;
                            left: 0;
                            position: absolute;
                        }
                        .message {
                            text-align: start;
        
                            p {
                                padding: 10px 15px;
                                display: inline-block;
                                background-color: #f4f6fc;
                                border-radius: 0 10px 10px 10px;
                            }
                            div {
                                margin-bottom: 5px;
        
                                &:last-child {
                                    margin-bottom: 0;
                                }
                            }
                        }
                        .time {
                            text-align: start;
                            margin: {
                                bottom: 20px;
                                top: 8px;
                            };
                        }
                        &.right {
                            text-align: end;
                            margin-left: auto;
                            padding: {
                                left: 0;
                                right: 45px;
                            };
                            .user {
                                left: auto;
                                right: 0;
                            }
                            .message {
                                text-align: end;
        
                                p {
                                    color: var(--whiteColor);
                                    border-radius: 10px 0 10px 10px;
                                    background-color: var(--primaryColor);
                                }
                            }
                            .time {
                                text-align: end;
                            }
                        }
                    }
                }
                &::-webkit-scrollbar {
                    width: 5px;
                    height: 5px;
                }
                &::-webkit-scrollbar-track {
                    background-color: var(--whiteColor);
                }
                &::-webkit-scrollbar-thumb {
                    background: #ebebeb;
                }
            }
            .chat-footer {
                padding: 15px 20px;
                border-radius: 6px;
                background: #f5f7fa;

                .buttons-list {
                    top: 2px;
                    position: relative;
                    margin-right: 20px;
                }
                form {
                    flex: 1 1 auto;
                    padding-right: 70px;
                }
            }
        }
    }
}
::ng-deep {
    .trinta-card {
        &.chat-sidebar-card {
            .mat-mdc-card-content {
                .mat-mdc-tab-group {
                    display: block;
                    margin-top: 20px;

                    .mat-mdc-tab-header {
                        display: block;
                        margin-bottom: 20px;
                        border-bottom: 1px solid #eaecf2;

                        .mat-mdc-tab-label-container {
                            display: block;
                            border: 0;

                            .mat-mdc-tab {
                                display: inline-block;
                                padding: 0 0 10px;
                                flex-grow: unset;
                                min-width: auto;
                                height: auto;

                                .mdc-tab__content {
                                    display: block;
                                }
                                .mdc-tab__text-label {
                                    font-weight: 500;
                                    color: var(--blackColor);
                                }
                                &.mdc-tab--active {
                                    .mdc-tab__text-label {
                                        color: var(--primaryColor);
                                    }
                                }
                            }
                            .mat-mdc-tab-labels {
                                justify-content: space-between;
                            }
                        }
                        .mat-mdc-tab-header-pagination {
                            display: none;
                        }
                    }
                    .mat-mdc-tab-body-wrapper {
                        display: block;
                        
                        .mat-mdc-tab-body {
                            overflow: hidden;

                            .mat-mdc-tab-body-content {
                                height: auto;
                                overflow: hidden;

                                .mat-mdc-button {
                                    width: 100%;
                                    height: auto;
                                    display: block;
                                    min-width: auto;
                                    padding: 15px 20px;
                                    margin-bottom: 18px;
                                    color: var(--whiteColor);
                                    background-color: var(--primaryColor);
                                    font: {
                                        size: 15px;
                                        weight: 500;
                                        family: var(--headingFontFamily);
                                    };
                                }
                            }
                        }
                    }
                }
            }
        }
        &.chat-card {
            .mat-mdc-card-content {
                .chat-footer {
                    .buttons-list {
                        .mat-mdc-button {
                            padding: 0;
                            height: auto;
                            min-width: auto;
                            margin-left: 12px;
                            transition: var(--transition);

                            i {
                                font-size: 22px;
                            }
                            &:hover {
                                color: var(--primaryColor);
                            }
                            &:first-child {
                                margin-left: 0;
                            }
                        }
                    }
                    form {
                        .mat-mdc-form-field {
                            --mat-form-field-container-height: 55px;
                            display: block;
        
                            .mat-mdc-form-field-focus-overlay {
                                display: none;
                            }
                        }
                        .mdc-text-field--filled {
                            &:not(.mdc-text-field--disabled) {
                                background-color: var(--whiteColor);
                            }
                        }
                        .mdc-text-field--focused {
                            &:not(.mdc-text-field--disabled) {
                                .mdc-floating-label {
                                    color: var(--primaryColor) !important;
                                }
                            }
                        }
                        .mat-mdc-text-field-wrapper {
                            padding: 0 30px;
                            border-radius: 30px;
                            background-color: var(--whiteColor);
                        }
                        .mat-mdc-icon-button {
                            &.mat-mdc-button-base {
                                padding: 12px 0 12px 0;
                                margin-right: -15px;
                            }
                        }
                        .mdc-line-ripple {
                            display: none;
                        }
                        .mdc-text-field {
                            &:not(.mdc-text-field--disabled) {
                                .mdc-floating-label {
                                    color: #a9a9c8;
                                }
                            }
                        }
                        .mat-mdc-form-field-subscript-wrapper {
                            display: none;
                        }
                        .mat-mdc-button {
                            right: 0;
                            top: 50%;
                            padding: 0;
                            width: 48px;
                            height: 48px;
                            min-width: auto;
                            border-radius: 50%;
                            position: absolute;
                            color: var(--whiteColor);
                            transform: translateY(-50%);
                            background-color: var(--primaryColor);

                            i {
                                font-size: 25px;
                            }
                            .mdc-button__label {
                                left: 0;
                                right: 0;
                                top: 50%;
                                margin-top: 2px;
                                position: absolute;
                                transform: translateY(-50%);
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .trinta-card {
        &.chat-sidebar-card {
            .mat-mdc-card-content {
                .search-box {
                    .input-search {
                        height: 48px;
                        font-size: 13px;
                        padding: {
                            left: 15px;
                            right: 15px;
                        };
                    }
                    button {
                        right: 15px;
                        font-size: 20px;
                    }
                }
                .chat-users-list {
                    height: 550px;
    
                    .single-user-item {
                        .user {
                            .title {
                                span {
                                    &:not(:first-child) {
                                        font-size: 13px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        &.chat-card {
            .mat-mdc-card-content {
                .chat-header {
                    padding: 15px;
                    
                    .user {
                        .title {
                            span {
                                &:nth-child(1) {
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                    .buttons-list {
                        margin-top: 15px;
                    }
                }
                .chat-body {
                    height: 500px;
    
                    ul {
                        padding: {
                            left: 15px;
                            right: 0;
                        };
                        li {
                            width: 100%;
                        }
                    }
                    &::-webkit-scrollbar {
                        width: 5px;
                        height: 5px;
                    }
                    &::-webkit-scrollbar-track {
                        background-color: var(--whiteColor);
                    }
                    &::-webkit-scrollbar-thumb {
                        background: #ebebeb;
                    }
                }
                .chat-footer {
                    padding: 15px;
    
                    .buttons-list {
                        top: 0;
                        margin: {
                            right: 0;
                            bottom: 12px;
                        };
                    }
                    form {
                        padding-right: 0;
                    }
                }
            }
        }
    }
    ::ng-deep {
        .trinta-card {
            &.chat-sidebar-card {
                .mat-mdc-card-content {
                    .mat-mdc-tab-group {
                        margin-top: 15px;
    
                        .mat-mdc-tab-header {
                            margin-bottom: 15px;
    
                            .mat-mdc-tab-label-container {
                                .mat-mdc-tab {
                                    padding: 0 0 8px;
                                }
                            }
                        }
                        .mat-mdc-tab-body-wrapper {
                            .mat-mdc-tab-body {
                                .mat-mdc-tab-body-content {
                                    .mat-mdc-button {
                                        padding: 13px 20px;
                                        margin-bottom: 15px;
                                        font-size: 13px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &.chat-card {
                .mat-mdc-card-content {
                    .chat-footer {
                        .buttons-list {
                            .mat-mdc-button {
                                padding: 0;
                                height: auto;
                                min-width: auto;
                                margin-left: 12px;
                                transition: var(--transition);
    
                                i {
                                    font-size: 22px;
                                }
                                &:hover {
                                    color: var(--primaryColor);
                                }
                                &:first-child {
                                    margin-left: 0;
                                }
                            }
                        }
                        form {
                            .mat-mdc-form-field {
                                --mat-form-field-container-height: 48px;
                            }
                            .mat-mdc-text-field-wrapper {
                                padding: 0 15px;
                            }
                            .mat-mdc-button {
                                top: 0;
                                width: 45px;
                                height: 45px;
                                margin-top: 12px;
                                position: relative;
                                transform: translateY(-0);
    
                                i {
                                    font-size: 22px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}