.trinta-card {
    &.order-details-card {
        background: #0d0626;

        .mat-mdc-card-content {
            .tracking-info {
                ul {
                    li {
                        padding: {
                            left: 70px;
                            right: 70px;
                        };
                        .icon {
                            width: 45px;
                            height: 45px;
                            font-size: 24px;
                            color: var(--whiteColor);
                            background: rgba(255, 255, 255, 0.15);
                            margin: {
                                left: auto;
                                right: auto;
                                bottom: 10px;
                            };
                        }
                        &::before {
                            left: 0;
                            right: 0;
                            top: 22.5px;
                            content: '';
                            height: 2px;
                            opacity: 0.2;
                            position: absolute;
                            background: #edeff5;
                        }
                        &.order-placed {
                            .icon {
                                color: var(--primaryColor);
                            }
                        }
                        &.packed {
                            .icon {
                                color: var(--whiteColor);
                                background: var(--primaryColor);
                            }
                        }
                        &:first-child {
                            padding-left: 0;

                            &::before {
                                margin-left: 76px;
                                width: 95%;
                            }
                        }
                        &:nth-child(2) {
                            &::before {
                                margin-left: 126px;
                                width: 71.5%;
                            }
                        }
                        &:nth-child(3) {
                            &::before {
                                margin-left: 128px;
                            }
                        }
                        &:last-child {
                            padding-right: 0;

                            &::before {
                                margin-right: 63px;
                            }
                        }
                    }
                }
            }
            .info {
                span {
                    letter-spacing: 1px;
                    margin-bottom: 5px;
                    font-size: 13px;
                }
                h5 {
                    font-size: 20px;
                    letter-spacing: 1px;
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .trinta-card {
        &.order-details-card {
            .mat-mdc-card-content {
                .tracking-info {
                    margin: {
                        top: 17px;
                        bottom: 17px;
                    };
                    ul {
                        li {
                            padding: {
                                left: 0;
                                right: 0;
                            };
                            margin: {
                                top: 12px;
                                bottom: 12px;
                            };
                            .icon {
                                width: 42px;
                                height: 42px;
                                font-size: 22px;
                                margin: {
                                    left: 0;
                                    right: 0;
                                    bottom: 8px;
                                };
                            }
                            &::before {
                                display: none;
                            }
                            &:first-child {
                                margin-top: 0;
                            }
                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
                .info {
                    h5 {
                        font-size: 16px;
                    }
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {

    .trinta-card {
        &.order-details-card {
            .mat-mdc-card-content {
                .tracking-info {
                    ul {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        li {
                            margin: {
                                top: 0;
                                bottom: 0;
                            };
                        }
                    }
                }
            }
        }
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .trinta-card {
        &.order-details-card {
            .mat-mdc-card-content {
                .tracking-info {
                    ul {
                        li {
                            padding: {
                                left: 22px;
                                right: 22px;
                            };
                            &::before {
                                display: none;
                            }
                        }
                    }
                }
                .info {
                    h5 {
                        font-size: 18px;
                    }
                }
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .trinta-card {
        &.order-details-card {
            .mat-mdc-card-content {
                .tracking-info {
                    ul {
                        li {
                            padding: {
                                left: 35px;
                                right: 35px;
                            };
                            &::before {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    .trinta-card {
        &.order-details-card {
            .mat-mdc-card-content {
                .tracking-info {
                    ul {
                        li {
                            padding: {
                                left: 50px;
                                right: 50px;
                            };
                            &:first-child {
                                &::before {
                                    margin-left: 76px;
                                    width: 80%;
                                }
                            }
                            &:nth-child(2) {
                                &::before {
                                    margin-left: 107px;
                                    width: 62%;
                                }
                            }
                            &:nth-child(3) {
                                &::before {
                                    margin-left: 110px;
                                }
                            }
                            &:last-child {
                                &::before {
                                    margin-right: 63px;
                                }
                            }
                        }
                    }
                }
                .info {
                    h5 {
                        font-size: 18px;
                    }
                }
            }
        }
    }

}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}