.trinta-card {
    &.contact-leads-card {
        .mat-mdc-card-content {
            ul {
                li {
                    border-bottom: 1px solid #edeff5;
                    padding: {
                        top: 17px;
                        bottom: 17px;
                    };
                    .user {
                        img {
                            width: 50px;
                            border-radius: 6px;
                            margin-right: 15px;
                        }
                        h6 {
                            font-size: 15px;
                            margin: {
                                top: 0;
                                bottom: 6px;
                            };
                        }
                    }
                    .trinta-badge {
                        font-size: 12px;
                        color: #00b69b;
                        border-radius: 2px;
                        padding: 1.5px 7px;
                        letter-spacing: 1px;
                        background: rgba(0, 182, 155, 0.10);

                        &.lost {
                            color: var(--dangerColor);
                            background: rgba(238, 54, 140, 0.10);
                        }
                        &.converted {
                            color: #ee8336;
                            background: rgba(238, 131, 54, 0.10);
                        }
                    }
                    &:first-child {
                        padding-top: 0;
                    }
                    &:last-child {
                        padding-bottom: 0;
                        border-bottom-width: 0;
                    }
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .trinta-card {
        &.contact-leads-card {
            .mat-mdc-card-content {
                ul {
                    li {
                        padding: {
                            top: 15px;
                            bottom: 15px;
                        };
                        .user {
                            img {
                                margin-right: 13px;
                            }
                            h6 {
                                font-size: 13px;
                                margin: {
                                    top: 0;
                                    bottom: 6px;
                                };
                            }
                        }
                        .trinta-badge {
                            font-size: 11px;
                            margin-top: 12px;
                        }
                    }
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {

    .trinta-card {
        &.contact-leads-card {
            .mat-mdc-card-content {
                ul {
                    li {
                        .trinta-badge {
                            margin-top: 0;
                        }
                    }
                }
            }
        }
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .trinta-card {
        &.contact-leads-card {
            .mat-mdc-card-content {
                ul {
                    li {
                        padding: {
                            top: 15px;
                            bottom: 15px;
                        };
                        .user {
                            h6 {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {

    .trinta-card {
        &.contact-leads-card {
            .mat-mdc-card-content {
                ul {
                    li {
                        padding: {
                            top: 20px;
                            bottom: 20px;
                        };
                        .user {
                            img {
                                width: 52px;
                            }
                        }
                    }
                }
            }
        }
    }

}