.trinta-card {
    &.courses-category-card {
        .mat-mdc-card-content {
            ul {
                li {
                    border-bottom: 1px solid #edeff5;
                    padding: {
                        top: 18.8px;
                        bottom: 18.8px;
                    };
                    .category {
                        .image {
                            width: 55px;
                            margin-right: 15px;
                            border-radius: 6px;

                            img {
                                border-radius: 6px;
                            }
                        }
                        div {
                            a {
                                margin-bottom: 6px;
                                font: {
                                    size: 15px;
                                    family: var(--headingFontFamily);
                                };
                            }
                        }
                    }
                    .info {
                        span {
                            margin-bottom: 6px;

                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }
                    &:first-child {
                        padding-top: 0;
                    }
                    &:last-child {
                        border-bottom-width: 0;
                        padding-bottom: 0;
                    }
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .trinta-card {
        &.courses-category-card {
            .mat-mdc-card-content {
                ul {
                    li {
                        padding: {
                            top: 15px;
                            bottom: 15px;
                        };
                        .category {
                            .image {
                                width: 55px;
                                margin-right: 12px;
                            }
                            div {
                                a {
                                    font-size: 13px;
                                }
                            }
                        }
                        .info {
                            margin-top: 10px;

                            span {
                                margin-bottom: 5px;
                            }
                        }
                    }
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {

    .trinta-card {
        &.courses-category-card {
            .mat-mdc-card-content {
                ul {
                    li {
                        .info {
                            margin-top: 0;
                        }
                    }
                }
            }
        }
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .trinta-card {
        &.courses-category-card {
            .mat-mdc-card-content {
                ul {
                    li {
                        padding: {
                            top: 15px;
                            bottom: 15px;
                        };
                        .category {
                            div {
                                a {
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {

    .trinta-card {
        &.courses-category-card {
            .mat-mdc-card-content {
                ul {
                    li {
                        padding: {
                            top: 18px;
                            bottom: 18px;
                        };
                        .category {
                            .image {
                                width: 52px;
                            }
                        }
                    }
                }
            }
        }
    }

}