<mat-card
    class="trinta-card basic-timeline-card mb-25 bg-white border-none d-block"
>
    <mat-card-header>
        <mat-card-title>
            <h5 class="mt-0 mb-0">
                Basic Timeline
            </h5>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <ul class="timeline p-0 m-0 list-unstyled">
            <li class="position-relative">
                <h6>
                    Eat
                </h6>
                <span class="time d-block text-body">
                    11:47 PM Wednesday
                </span>
                <p class="text-black">
                    Invoices have been paid to the company.
                </p>
            </li>
            <li class="position-relative">
                <h6>
                    Code
                </h6>
                <span class="time d-block text-body">
                    12:21 PM Wednesday
                </span>
                <p class="text-black">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
            </li>
            <li class="position-relative">
                <h6>
                    Sleep
                </h6>
                <span class="time d-block text-body">
                    12:59 PM Wednesday
                </span>
                <p class="text-black">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </li>
            <li class="position-relative">
                <h6>
                    Repeat
                </h6>
                <span class="time d-block text-body">
                    11:47 PM Wednesday
                </span>
                <div class="users d-flex align-items-center">
                    <img src="assets/images/users/user12.jpg" class="rounded-circle" alt="user-image">
                    <img src="assets/images/users/user13.jpg" class="rounded-circle" alt="user-image">
                    <img src="assets/images/users/user14.jpg" class="rounded-circle" alt="user-image">
                    <img src="assets/images/users/user15.jpg" class="rounded-circle" alt="user-image">
                    <img src="assets/images/users/user16.jpg" class="rounded-circle" alt="user-image">
                    <div class="fw-medium bg-primary text-white rounded-circle">
                        27
                    </div>
                </div>
            </li>
        </ul>
    </mat-card-content>
</mat-card>